<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>show_npc2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{139,142}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,68},{139,142}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,533},{127,126}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,83},{127,126}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{113,130}}</string>
                <key>offset</key>
                <string>{18,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,84},{113,130}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,841},{147,118}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,67},{147,118}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,692},{147,122}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,64},{147,122}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,863},{157,134}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,66},{157,134}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,704},{157,138}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,64},{157,138}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{137,168}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{137,168}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{139,136}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,65},{139,136}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,662},{101,94}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,78},{101,94}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,426},{105,116}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,54},{105,116}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,143},{109,132}}</string>
                <key>offset</key>
                <string>{-23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{109,132}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,288},{107,134}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{107,134}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,288},{103,136}}</string>
                <key>offset</key>
                <string>{-28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{103,136}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,148},{105,144}}</string>
                <key>offset</key>
                <string>{-28,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{105,144}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,424},{101,126}}</string>
                <key>offset</key>
                <string>{-31,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,23},{101,126}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,277},{111,126}}</string>
                <key>offset</key>
                <string>{-25,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{111,126}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,662},{113,98}}</string>
                <key>offset</key>
                <string>{-27,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{113,98}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{115,98}}</string>
                <key>offset</key>
                <string>{-28,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{115,98}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,134},{121,110}}</string>
                <key>offset</key>
                <string>{-21,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{121,110}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,361},{109,138}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{109,138}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{125,152}}</string>
                <key>offset</key>
                <string>{-14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{125,152}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{141,160}}</string>
                <key>offset</key>
                <string>{-23,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{141,160}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{131,164}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,164}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,542},{137,160}}</string>
                <key>offset</key>
                <string>{-25,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,160}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,376},{139,156}}</string>
                <key>offset</key>
                <string>{-24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{139,156}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,534},{135,156}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{135,156}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,870},{129,150}}</string>
                <key>offset</key>
                <string>{-20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{129,150}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{117,144}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{117,144}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,146},{137,140}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{137,140}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{117,164}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{117,164}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,202}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{145,202}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,206},{121,148}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{121,148}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
            <key>show_npc2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,294},{65,116}}</string>
                <key>offset</key>
                <string>{23,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,59},{65,116}}</string>
                <key>sourceSize</key>
                <string>{187,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:115ecd5bd02e694368d47917bf262c7d:e91705b2d778157186528f04fa5aef9a:e02acce787b4bc1673036ed842924ed4$</string>
            <key>textureFileName</key>
            <string>npc2.png</string>
        </dict>
    </dict>
</plist>
